*{
    margin: 0px;
}
body{
    background-color: #f9e6e6;
}
.card{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    border: 20px solid #f9e6e6;
    border-radius: 4%;
    cursor: pointer;    /* NEW POINT */
}
.card:hover{
    border-color: #fff; /* Use Border Color */
    background-color: #fff;
}
.box{
    display: inline-block;
}
.image{
    position: relative;
}
.img{
    height: 250px;
    width: auto;
    border-radius: 20px;
    pointer-events: none; /* Disable pointer events WOW WOW WOW */
}
.off{
    background-color: rgba(255, 15, 15,0.6);
    border-radius: 6%;
    position: absolute;
    left: 2px;
    bottom: 15px;
    padding: 2px;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
    /* box: ss;dmkjdhawkhdshadow 11px; */
}
.restaruant, .food, .location{
    position: relative;
    margin: 10px 0px;
}
.rating, .price, .distance{
    position: absolute;
    right: 5px;
}
.food, .place{
    font-size: 15px;
    color: rgb(88,88,88);
}
.distance{
    font-weight: bold;
    font-size: 10px;
}
.restaruant-name{
    font-size: 20px;
    font-weight: bold;
}
.rating{
    color: #fff;
    background-color: green;
    height: 20px;
    padding: 3px;
    border-radius: 8%;
}
.first , .second{
    margin-left: 170px;
}
.brand{
    color: rgb(202, 21, 21);
    margin-right: 50px;
    font-weight: bold;
    font-size: 33px;
}
.searching{
    height: 30px;
    width: 300px;
    margin-right: 50px;
    position: relative;
    bottom: 13px;
}
header{
    background-color: #fff;
}
header button{
    height: 50px;
    width: 80px;
    position: relative;
    bottom: 10px;
    font-size: 15px;
    margin-right: 50px;
    border-radius: 4px;
    border: none;       /* HIDE BORDER OF BUTTON */
    background-color: #fff;
}
header button:hover{
    background-color: #f9e6e6;
}