 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    display: grid;
    height: 600px;
    background-color: rgb(170, 145, 145);
    width: 80vw;
    min-width: 750px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    >div{
        /* width: 170px; */
        /* height: 200px; Let it be Automatically */
        padding: 6px;
    }
}
.box1 , .box2 , .box6{
    background-color: green;
}
.box3 , .box5 , .box7{
    background-color: red;
}
.box4 , .box8{
    background-color: yellow;
}

.box1{
    grid-row: 1/4;
}
.box2{
    grid-column: 2/4;
}
.box6{
    grid-row: 2/4;
}