*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: gray;
    /* height: 800px;
    width: 800px; */
    height: 50vw;       /* It should be SAME */
    width: 50vw;        /* Chess is Square */
    >div{
        /* height: 100px;       hAvinf some problem
        width: 100px;           use 80/8 vw*/        
        padding: 2px;
    }
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(8,1fr);

    /* not imp AUTOMATICALLY FILLING by dev sizes*/grid-template-rows: repeat(8,1fr);
}
.white{
    background-color: #fff;
}
.black{
    background-color: black;
    color: #fff;
}
.padding{
    padding-left: 15px;
}
h1,h2,h3,h4,h5,h6{
    padding-top: 6px;
}