*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* REMEMBER THIS**** */
}
.green{color: green;}
.brinjal{color:rgb(111, 33, 184);}
h2,h3,h4,h5,h6{
    margin-top: 11px;
    padding-left: 6px;
}
.font1{
    /* .chango-regular  */
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font2{
    /* .maiden-orange-regular  */
  font-family: "Maiden Orange", serif;
  font-weight: 400;
  font-style: normal;
}
.font-large{
    font-size: 24px;
}
body{
    /* height: 100vh;
    width: 100vw; */
    background-color: aliceblue;
}
.container{
    /* display: grid; */
    height: 700px;
    width: 700px;
    background-color: rgb(78, 76, 76);
}
.container-some{
    /* display: grid; */
    height: 500px;
    width: 700px;
    background-color: rgb(78, 76, 76);
}
.container-full{
    /* display: grid; */
    height: 500px;
    width: 100%;
    background-color: rgb(78, 76, 76);
}
hr{
    margin-top: 20px;
    height: 11px;
    border-radius: 4px;
    background-color: aqua;
    border: none;
    box-shadow: inset 2px 4px 30px rgb(211, 200, 200);
}
.grid{
    display: grid;
}
.template-col1{
    grid-template-columns: 200px;
}
.template-col2{
    grid-template-columns: 200px 200px;
}
.template-col3{
    grid-template-columns: 200px 200px 200px;
}
.template-col4{
    grid-template-columns: 200px 400px 200px;
}
.template-row3{
    grid-template-rows: 200px 200px 200px;
}
.box{
    background-color: orange;
    border: 0.5rem solid black;
}
.fraction-full{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.frac-121{
    grid-template-columns: 1fr 2fr 1fr;
}
.gap{
    gap: 1rem;
}
.row-gap{
    row-gap: 1rem;
}
.column-gap-3{
    column-gap: 3rem;
}
.pad{
    padding: 1rem;
}
.template-row-3-fr{
    grid-template-rows: 1fr 1fr 1fr;
}
.template-row-4-fr{
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.box1 , .box6{
    grid-column: 1/4;
}
.box2{
    grid-row: 2/4;
}
.box3{
    grid-column: 2/4;
}
.full-width{
    width: 100%;
}