*{
    /* margin: 0; */
    padding: 0;
}
.container{
    background-color: aqua;
    width: 260px;
    height: 330px;
    box-sizing: border-box;
    border-radius: 11px;
}
.container:hover{
    background-color: rgb(219, 219, 232);
    background-position: 20%;
}
h4{
    display: inline;
}
.img-container{
    height: 240px;
    border-radius: 17px;
    width: auto;
    padding: 6px 0px 0px 8px;
}
.title{
    padding-left: 0px; /* Already gt Padding by img Inline */
}
.title-text{
    display: inline;
    padding-left: 8px;
}
.title-rating{
    display: inline;
    float: right;
    padding: 0px 4px;
    margin-right: 12px;
    color: #fff;
    background-color: green;
    border-radius: 17%;
}
.address-price{
    padding: auto;
    display: inline;
    box-sizing: border-box;
}
.address{
    display: inline;
    padding-left: 8px;
    overflow: hidden;
}
.price{
    display: inline;
    float: right;
    padding-right: 12px;
}
.description-distance{
    padding: auto;
}
.description{
    display: inline;
    padding-left: 8px;
    overflow: hidden;
}
.distance{
    display: inline;
    float: right;
    padding-right: 12px;
}