*{
    margin: 0;
}
header{
    background-color: cadetblue;
    position: fixed;
    /* width: 100%; */
    /* OR I CAN USE */
    top: 0px;
    left: 0px;
    right: 0px;
}
main{
    /* margin-top: 40px; */
    padding-top: 40px;
}