*{
    margin: 0px;
}
.marg{
    margin-left: 10vw;
    display: inline-block;
}
#body1{
    height: 40vw;
    display: inline-block;
    width: 40vw;
    background-color: aqua;
    margin: 20px 30vw 0px;
    position: relative;
    overflow:visible;
}
#body2{
    display: inline-block;
    height: 39vw;
    width: 39vw;
    background-color: red;
    margin: 20px 30vw 0px;
    position: absolute;
    bottom: 0.7vw;
    left: 2vw;
    right: 1vw;
}
.container{
    background-color: blueviolet;
    height: 20vw;
    width: 20vw;
}
.circle{
    border-radius: 100%;
    display: inline-block;
    margin: 2.3vw;
    height: 5vw;
    width: 5vw;
    background-color: red;
}
#row1,#row2{
    display: inline-block;
    margin-bottom: 20px;
}
.box1{
    background-color: red;
}