*{
    margin:0px;
    padding: 0px;
}
/* LOGO code */
.logo{
    display: flex;
    justify-content: space-between;
    background-color: rgb(215,46,46);
    align-items: center;
    padding: 1rem;
}
.logo .left h1{
    color: aliceblue;
}
.logo button{
    margin-left: 0.5rem;
    border:none;
    color: aliceblue;
    font-size: 0.8rem;
    background-color: rgba(114, 8, 8,0);
    /* padding-top: 0.3rem; */
    cursor: pointer;
}
/* SEARCH code */
.search{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 2rem 0rem;
}
.searching{
    width: 400px;
    max-width: 60%;     /* Maximum Width of that search bar */
    font-size: 1rem;
    padding: .5rem;
    margin-right: .4rem;
    border-radius: 4px;
}
.search > button{
    font-size: 1rem;
    margin-left: .5rem;
    background-color: rgb(215,46,46);
    color: aliceblue;
    padding: .5rem;
    border:5px;
    border-radius: 10px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/back-image-long.jpeg);
    padding: 2rem 0rem;
    h2{
        color:white;
        max-width: 95%;
        font-size: 2rem;
        background-color: black;
    }
    button{
        /* border: none; */
        background-color: rgb(215,46,46/*,0*/);
        color: aliceblue;
        font-size: 2rem;
        margin-top: 1rem;
        cursor: pointer;
        padding: .5rem;
        border-radius: 10px;
    }
}
.mover{
    text-align: center;
    padding: 1rem;
    h2{
        font-size: 2.8rem;
        font-weight: bold;
    }
}
.movie{
    display: flex;
    /* justify-content: center;  */         /*SOME PROBLEM */
    /* flex-wrap: wrap; */
    overflow-x: scroll;     /* SCROLLING FEATURE */
                            /* x says ONLY SCROLLING ON x Axis */
    .card{
        border: .5rem solid rgb(196, 194, 194);
        border-radius: 10px;
        padding: 1px 4px;
        margin: 1px 3px;
        text-align: center;
        img{
            height: 400px;
        }
        h3{
            font-size: 2rem;
        }
    }
}
.bot{
    margin-top: 2rem;
    text-align: center;
    img{
        max-width: 80%;        /* Maximum Width */
    }
}
/* CODE FOR SHORT DEVICE */
@media (max-width:443px){
    .logo{
        flex-direction: column;
    }
    .logo > .right{
        display: flex;
        flex-direction: column;
        padding-top: .392rem;
        button{
            padding: .1rem;
        }
    }
    .movie{
        flex-direction: column;
        align-items: center;
    }
    .movie > .card{
        width: max-content;
    }
}