*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    /* text-align: center; */
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: teal;
    padding-left: 13px;
}
hr{
    background-color: aqua;
    height: 20px;
    border-radius: 13px;
    box-shadow: 2px -5px 5px rgb(173, 65, 65);
    margin: 8px 0px;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: gray;
    height: 100%;
    padding: 4rem;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}
.box{
    background-color: rgb(20, 207, 20);
    font-size: 2rem;
}
.box1{
    grid-row: 1/4;
}
.box2{
    grid-column: 2/4;
}
.box6{
    grid-row: 2/4;
}
.box6fix{
    grid-row: 2/4;
    grid-column: 4/5;
}
.box3 , .box5 , .box7{
    background-color: red;
}
.box4 , .box8{
    background-color: yellow;
}
.xcontainer{
    background-color: gray;
    height: 100%;
    padding: 4rem;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
}
.xbox1{
    grid-column: 1/6;
    grid-row: 1/2;
}
.xbox2{
    grid-row: 2/4;
    grid-column: 1/2;
}
.xbox3{
    grid-column: 2/6;
    grid-row: 2/3;
}
.xbox4{
    grid-column: 2/4;
    grid-row: 3/4;
}
.xbox5{
    grid-column: 4/6;
    grid-row: 3/4;
}
.xbox6{
    grid-column: 1/6;
    grid-row: 4/5;
}
.container-y{
    >div{
        background-color: green;
    }
    background-color: gray;
    height: 100%;
    padding: 4rem;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);  /* 1fr 1fr 1fr 1fr */
    grid-template-rows: repeat(3,1fr);      /* fr = FRACTION */
    grid-template-areas: 
    "Box1 Box2 Box2 Box3"
    "Box1 Box4 Box5 Box6"
    "Box1 Box7 Box8 Box6";
}
.ybox1{
    grid-area: Box1;
}
.ybox2{
    grid-area: Box2;
}
.ybox3{
    grid-area: Box3;
}
.ybox4{
    grid-area: Box4;
}
.ybox5{
    grid-area: Box5;
}
.ybox6{
    grid-area: Box6;
}
.ybox7{
    grid-area: Box7;
}
.ybox8{
    grid-area: Box8;
}