*
.anand-table{
    text-align: center;
    table-layout: auto;
    font-size: 60px;
}
.design-form{
    background-color: aqua;
    text-align: center;
    width: 400px;
}
/*
.cent{
    
}
