*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: sans-serif;
    background-color: #fff;
}

/* navbar css */

nav
{
    height: 100px;
    width: 100%;


}

.logo
{
    line-height: 80px;
    margin-left: 60px;
    padding: 0 100px;
    font-weight: bold;
    font-size: 2rem;
}

.logo-span
{
    color:#d64a4a;
}

nav ul
{
    float: right;
    margin-right: 150px;
}

nav ul li
{
  display:inline-block;
  line-height: 80px;
  margin: 0 40px;

}

/* nav button
{
    float: right;
} */


nav ul li a
{
    color: #000;
    font-size: 1.3rem;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

nav ul li a:hover
{
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
    
}

/* title css */

#title
{
    width: 100%;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.content
{
    margin-top: 10%;
    width: 50%;
    text-align: center;
}


.content h1
{
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 30px;
}

.content input
{
  padding:10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
table
{
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    /* background-color: aquamarine; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table tr
{
    margin: 10px;
}
table tr td
{
    padding: 15px 35px;

}

table tr .td-content
{
    color: #000;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: sans-serif;

}

table tr .td-content1
{
    color: #7b5151;
    font-size: 1.1rem;
    font-family: sans-serif;

}

/* section-img */

#title-img
{
    /* margin-top: 30%; */
    height: 50vh;
    width: 100%;
    text-align: center;

}
#title-img .img
{
width: 100%;
border-top: 10px;
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(255,89,74,1) 70%, rgba(255,21,0,1) 95%);
}

#title-img img
{
    width: 65%;
    height: auto;
}

/* car collection css */

.container h1
{
    font-size: 4rem;
    font-weight: bold;
    margin: 25px;

}

#car-coll
{
    margin-top: 10%;
    text-align: center;
}

#car-coll img
{
    border-radius: 10px;
    width: 100%;
}

#car-coll .row
{
    margin: 10px 0px;
}

/* location css */

#location
{
    margin-top: 10%;
    text-align: left;
}

#location img
{
    width: 70%;
    height: 70%;
}

#location h1
{
    font-size: 3.5rem;
    font-weight: bold;
    padding: 20px;
}

#location p
{
    color:#7e4e4e;
    font-size: 1.2rem;
    padding: 20px;
}

#location .row
{
    margin: 0px 80px;
}

