header{
    background-color: green;
    p{
        color: yellow;
        font-family: 'Playwrite AU NSW', cursive;
    }
}
header > 
p{
    /* color: rgb(255, 255, 255); */
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
}
h1{
    color: white;
}
h3{
    color: rgb(163, 20, 44);/* PINK */
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
h2{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
table{
    width:100%;
    border-color: bisque;
}
table > thead{
    color: aliceblue;
    text-align: left;
    background-color: blue;
}
footer{
    font-weight: bolder;
    background-color: rgb(181, 178, 174);
    width: 100%;
}