.red{
    background-color: red !important;
    color: red; /* for extra use red */
}
.brinjal{
    color: rgb(34, 29, 86);
}
.fonthead{
  font-family: "Chango", sans-serif,'Times New Roman', Times, serif;
  font-weight: 10;
  font-style: normal;
}
hr{
    margin-top: 35px;
    padding: 2px 0px;
    background-color: aqua;
    border: none;
}
.container{
    background-color: aqua;
}
.space{
    padding-left: 66px;
}
.container-left{
    text-align:left;
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    .second > i{
        color:blueviolet;
    }
}
.container-right{
    text-align: right;
    background-color: aqua;
}
.container-center{
    text-align: center;
    background-color: aqua;
}
.container-justify{
    text-align: justify;
    background-color: aqua;
}
h4,.h4{
    color: blueviolet;
    font-size: large;
    font-weight: bolder;
}
.last{
    background-color: rgb(201, 176, 225);
}
.left{
    text-align-last:left;
}
.right{
    text-align-last:right;
}
.center{
    text-align-last:center;
}
.justify{
    text-align-last:justify;
}
.ltr{
    direction: ltr;
}
.rtl{
    direction: rtl;
}
.bidi{
    direction: rtl;
    unicode-bidi: bidi-override;
}
.sameline{
    display: flex;
    h3{
        margin-left: 80px;
    }
}
.sub{
    vertical-align: sub;
}
.super{
    vertical-align: super;
}
.baseline{
    vertical-align: baseline;
}
.vertical{
    display: flex;
    p{
        margin-left: 40px;
    }
}
.overline > p{
    text-decoration-line: overline;
}
.underline > p{
    text-decoration-line: underline;
}
.line-through > p{
    text-decoration-line: line-through;
}
.overline-underline > p{
    text-decoration-line: overline underline;
}
.decoration-color > p{
    text-decoration-color: red;
}
.style-dashed > p{
    text-decoration-style: dashed;
}
.style-dotted > p{
    text-decoration-style:dotted;
}
.style-double > p{
    text-decoration-style:double;
}
.uppercase > p{
    text-transform: uppercase;
}
.capitalize > p{
    text-transform: capitalize;
}
.lowercase > p,.lowercase{
    text-transform: lowercase;
}
.letter-spacing{
    letter-spacing: 3px;
}
.word-spacing{
    word-spacing: 5px;
}
.green{
    color: green;
}
.text-shadow-5px > p{
    text-shadow: 5px;
}
.text-shadow-5px-4px > p{
    text-shadow: 5px 4px;
}
.container{
    height: 300px;
    width: 300px;
    background-color:aqua;
    .box{
        height: 220px;
        width: 220px;
        background-color: red;
        margin: 0px 10px 10px;  /* margin: 10px */
        color: rgb(255, 255, 255);
        b{
            padding: 15px;
        }
    }
}
.top-pad{
    margin-top: 13px;
    display: flex;
    .box{
        margin: 0px;
    }
    .right-down{
        box-shadow: 12px 18px;
    }
    .right-up{
        box-shadow: 12px -18px;
    }
    .left-down{
        box-shadow: -12px 18px;
    }
    .left-up{
        box-shadow: -12px -18px;
    }
    align-items: center;
    justify-content: center;
    .right-down-green{
        padding-top: 4px;
        box-shadow: 12px 18px green;
        height: 240px;
        width: 240px;
    }
    .box > .pad{
            padding: 8px;
    }
    .right-down-green-blur{
        padding-top: 4px;
        box-shadow: 12px 18px 6px green;
        height: 260px;
        width: 260px;
    }
}
.pink{
    color: rgb(215, 19, 85);
}
.spread{
    height: 390px;
    width: 390px;
    .box{
        padding: 8px;
        padding-top: 4px;
        box-shadow: 12px 18px 6px 30px green;
        height: 260px;
        width: 260px;
    }
    .box-radius-100{
        border-radius: 100%;
        box-shadow: 0px 0px 6px 10px rgb(13, 10, 188);
    }
    .inset{
        box-shadow: inset 10px 10px green;
    }
    .inset-50{
        box-shadow: inset 50px 50px green;
    }
}
.right-side{
    display: flex;
    justify-content: center;
}
.one-line .box{
    height: 240px;
    width: 260px;
    p{
        margin: 6px;
    }
}
.pad-left{
    padding-left: 13px;
}
/* Transition Effects */
.one-line .box:hover{
    background-color: rgb(98, 0, 255);
}
.linear .box{
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.one-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: space-evenly; */
}
.ease .box{
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
}.ease-in .box{
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}.ease-out .box{
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}.ease-in-out .box{
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.one-line > div{
    box-shadow: inset 0px 0px 60px 10px rgb(207, 207, 211);
    margin-top: 15px;
    border-color: rgb(66, 49, 49);
    padding: 6px;
    border-radius: 8px;
    > div{
        box-shadow: inset 0px 0px 20px 10px rgb(162, 177, 178);
        border-color: rgb(66, 49, 49);
        padding: 6px;
        border-radius: 8px;
    }
}
.big-box{
    padding: 10px;
}
.trans{
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
    /* transition-delay: 1s; */
}
.container2{
    background-color: aqua;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    div{
        color: #fff;
        padding: 4px;
        border-radius: 4px;
        background-color: red;
        height: 250px;
        width: 250px;
        margin-right: 2px;
        transition-property: background-color;
        transition-duration: 1s;
        transition-timing-function: linear;
        transition-delay: 1s;
    }
    div:hover{
        background-color: rgb(98, 0, 255);
    }
}
.widchange{
    div:hover{
        width: 200px;
    }
}
.container2{
    .all{
        transition-property: all;
    }
}
.oneline{
    display: flex;
    justify-content: space-around;
    >div{
        box-shadow: inset 0px 0px 60px 10px rgb(207, 207, 211);
        border-radius: 20px;
        margin: 11px;
    }
    flex-wrap: wrap;
}
.container3{
    height: 300px;
    width: 300px;    /* Full Width */
    display: flex;
    background-color: aqua;
    /* height: 200px; */
    align-items: center;
    justify-content: center;
            transition-delay: 1s;
        transition-duration: 1.5s;
        transition-timing-function: linear;
        transition-property: all;
    .circle{
        transition-delay: 1s;
        transition-duration: 1.5s;
        transition-timing-function: linear;
        transition-property: all;
        background-color: aqua;
        height: 250px;
        width: 250px;
    }
    :hover{
        background-color: blueviolet;
        border-radius: 100%;
    }
}